@using EarlyMan.PL.ViewModels.CartViewModels
@model CartIndexViewModel
    @{
        if(Model.Items.Count() == 0)
        {
            <p>Your cart is empty</p>
        }
        else
        {
            var serialNum = 1;
            
            <div class="row limited clear-fix">
            <table class="column small-12">
                <thead>
                    <tr>
                        <td>S/N</td>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>SubTotal</td>
                        <td></td>
                    </tr>
                </thead>
        
            <tbody>
            @foreach(var item in Model.Items)
            {
               
                <tr>
                    <td>@serialNum</td>

                    <td>
                        <img class="product_img" alt="product image" 
                        src=@string.Concat("assets/Products/",
                        @item.ImageLocation) 
                        style="width:100px;height:100px;
                        display=inline;"/>
                    </td>

                    <td>@item.ProductName</td>
                    <td>@item.PurchasePrice</td>
                    <td>@item.PurchaseQuantity</td>
                    <td>@item.SubTotal</td>
                  
                    <td>
                        <form style="width:100%;display:inline;">
                           <input hidden value=@item.ProductId/>
                           <button class="red-button">Remove</button>
                        </form>
                    </td>

                </tr>
                 serialNum += 1;
                 
            }
                </tbody>
            </table>

                <div class="column small-12">
                    <button class="checkout-button">Checkout</button>
                </div>
            </div>
        
        }
    }
    